
.product {
  
  display: flex;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  transition: all 5s ease;
}
.productRight{
  flex: 2;
}

.imageset {
  padding: 10px;
}
.headimg {
  height: 450px;
  width: auto;
}
.productInfo {
  display: flex;
}
.productDetail {
  flex: 2;
}
.productCart {
  flex: 0.8;
}
.productInfoColor{
  display: flex;
  gap: 5px;
  margin: 10px 0;
}
.productColor{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.productLeft{
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 1;

}
